@font-face {
  font-family: Oswald;
  src:
    local("Oswald Regular"),
    local("Oswald-Regular"),
    url("../../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src:
    local("Oswald Medium"),
    local("Oswald-Medium"),
    url("../../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src:
    local("Oswald SemiBold"),
    local("Oswald-SemiBold"),
    url("../../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Archivo;
  src:
    local("Archivo Regular"),
    local("Archivo-Regular"),
    url("../../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Archivo;
  src:
    local("Archivo Medium"),
    local("Archivo-Medium"),
    url("../../fonts/Archivo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Archivo;
  src:
    local("Archivo SemiBold"),
    local("Archivo-SemiBold"),
    url("../../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Archivo;
  src:
    local("Archivo Bold"),
    local("Archivo-Bold"),
    url("../../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
