html {
  font-family: var(--main-font-family);
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  color: var(--main-color);
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), calc(100% - var(--container-padding) * 2));
  margin-inline: auto;
}

.card-action-title {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bg-color);
  transition: color 0.5s ease;
}

.card-action-svg {
  width: 21px;
  height: 21px;
  transition:
    --arrow-color 0.5s ease,
    transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.fulltimetable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  min-height: 108px;
  background-color: var(--accent-color);
}

.fulltimetable:hover .card-action-title {
  color: var(--main-color);
}

.fulltimetable:hover .card-action-svg {
  --arrow-color: var(--main-color);
  transform: translateX(10px);
}
