:root {
  /* font-family */
  --main-font-family: "Oswald", sans-serif;
  --second-font-family: "Archivo", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #f47521;
  --bg-color: #141414;
  --secondary-color: #e3e3de;
  --aux-color: #979797;
  --overlay: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);

  /* container */
  --container-width: 1920px;
  --container-padding: 0px;
}

/* переменные-цвета для поддержки плавности hover у SVG */
@property --cart-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --circle-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #f47521;
}

@property --search-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --arrow-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #141414;
}

@property --social-icon-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --play-icon-stroke {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --play-icon-fill {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --cross-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}
