.features {
  width: 100%;
  scroll-margin-top: 92px;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.features__card {
  display: flex;
  height: auto;
  background-color: #303030;
  aspect-ratio: 2 / 1;
}

.features__card--reverse {
  flex-direction: row-reverse;
}

.features__content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding: clamp(40px, 6.6vw, 128px) clamp(30px, 4.1vw, 79px)
    clamp(40px, 6.6vw, 129px) clamp(25px, 2.7vw, 52px);
}

.features__subtitle {
  font-family: var(--second-font-family);
  font-size: clamp(16px, 1.05vw, 20px);
  font-weight: 600;
  color: var(--accent-color);
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

.features__title {
  font-family: var(--main-font-family);
  font-size: clamp(30px, 2.2vw, 42px);
  font-weight: 500;
  color: var(--main-color);
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-family: var(--second-font-family);
  font-size: clamp(14px, 0.83vw, 16px);
  font-weight: 400;
  line-height: 1.69;
  color: var(--aux-color);
  margin-bottom: clamp(15px, 1.5vw, 30px);
}

.features__link {
  font-family: var(--second-font-family);
  font-size: clamp(14px, 0.83vw, 16px);
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: 0.1em;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__line {
  width: clamp(80px, 5.8vw, 111px);
  height: 2px;
  background-color: var(--accent-color);
}

.features__poster {
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;
  min-width: 0;
  z-index: 2;
}

.features__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0%) contrast(100%);
  transition: filter 0.4s ease;
}

.features__poster::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.features__card:hover .features__img {
  filter: grayscale(100%) contrast(90%) brightness(90%);
}

.features__card:hover .features__poster::after {
  opacity: 0.85;
}

.features__decor-dotted {
  position: absolute;
  width: 767px;
  height: 767px;
  bottom: -465px;
  right: 11px;
}
