.hero {
  position: relative;
  width: 100%;
}

.hero__container {
  position: relative;
  margin-top: 213px;
}

.hero__titles-bg {
  position: absolute;
  top: 53px;
  right: 85px;
  z-index: 1;
  max-width: 1143px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 397px;
  line-height: 0.98;
  pointer-events: none;
}

.hero__titles-front {
  position: relative;
  z-index: 2;
  max-width: 1168px;
  padding-left: 94px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 198px;
  line-height: 0.98;
}

.hero__decor-icon {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 22.6%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  transition: transform 0.3s ease;
}

.hero__decor-icon:hover {
  transform: translate(-50%, 0) scale(1.05);
  cursor: pointer;
}

.hero__picture {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  margin-top: -41px;
}

.hero__picture-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero__cards {
  position: relative;
  z-index: 4;
  width: 100%;
}

.hero__cards-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__cards-item {
  box-sizing: border-box;
  flex: 1 1 0;
  min-width: 0;
  height: 396px;
  background-color: var(--secondary-color);
  border-right: 2px solid var(--bg-color);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.hero__cards-item:last-child {
  border-right: none;
}

.hero-card__category,
.hero-card__title {
  transition: color 0.3s ease;
}

.hero__cards-item:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

.hero__cards-item:nth-child(1):hover {
  border-right-color: var(--accent-color);
}

.hero__cards-item:nth-child(2):hover {
  border-right-color: var(--accent-color);
}

.hero__cards-list:has(.hero__cards-item:nth-child(2):hover)
  .hero__cards-item:nth-child(1) {
  border-right-color: var(--accent-color);
}

.hero__cards-list:has(.hero__cards-item:nth-child(3):hover)
  .hero__cards-item:nth-child(2) {
  border-right-color: var(--accent-color);
}

.hero-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 56px 68px 53px 56px;
  /* color: inherit; */
  text-decoration: none;
}

.hero-card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.hero-card__category {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: normal;
  color: var(--accent-color);
  margin-bottom: 4px;
}

.hero-card__title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 42px;
  color: var(--bg-color);
  line-height: normal;
}

/* .hero-card__action-title {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bg-color);
} */

/* .hero-card__action-svg {
  width: 21px;
  height: 21px;
  transition: transform 0.3s ease;
} */

.hero__cards-item:hover .hero-card__category {
  color: var(--secondary-color);
}

.hero__cards-item:hover .card-action-title {
  color: var(--secondary-color);
}

.hero__cards-item:hover .card-action-svg {
  --arrow-color: var(--secondary-color);
  transform: translateX(30px);
}
